@charset "UTF-8";
/*Tudo aqui não passa de treinamento simples*/

 header #cabecalho ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    left: 300px;
    top: 221px;
}

header #cabecalho li{
    display: inline-block;
    background-color:pink;
    padding: 5px;
    margin: 20px;
}

header #cabecalho a{
    text-decoration: none;
}

header #cabecalho img{
    position: relative;

}